[Unit]
Description=PIA WireGuard VPN Service
After=network.target

[Service]
Type=simple
ExecStart=/root/pia-wg/pia-wg.sh -f
ExecReload=/root/pia-wg/pia-wg.sh -r
ExecStop=/root/pia-wg/pia-wg.sh -s
Restart=always
RestartSec=3
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target